*.psd
*.pyc
+exclude.lst
*.log
__pycache__/
+OLD/
Building_Blocks/
z_*.py
.DS_Store
Thumbs.db
Km_NodeGraphEN/templates/
fix_gitgraph.ps1
git-safe-merge.ps1
git-safe-merge.bat
Doc/pandoc-3.9/
